/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: exo-light-normal;
  src: url(../../assets/fonts/exo-light-webfont.ttf);
}

@font-face {
  font-family: exo-light-italic;
  src: url(../../assets/fonts/exo-lightitalic-webfont.ttf);
}

@font-face {
  font-family: exo-medium-normal;
  src: url(../../assets/fonts/exo-medium-webfont.ttf);
}

@font-face {
  font-family: exo-medium-italic;
  src: url(../../assets/fonts/exo-mediumitalic-webfont.ttf);
}